body { background: #d592eb; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 38px; display: flex; }
.block-session-0 { color: #91c616; font-size: 12px; margin-bottom: 5px; }
.block-shipping-1 { color: #71c7eb; font-size: 18px; margin-bottom: 5px; }
.block-cart-2 { color: #59ab3b; font-size: 14px; margin-bottom: 5px; }
.block-product-3 { color: #e685c3; font-size: 17px; margin-bottom: 5px; }
.block-cache-4 { color: #df3d30; font-size: 18px; margin-bottom: 5px; }